<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>FAQ</title>
</head>
<body>
<!-- probably include nav here as well (c) spnchdev, March 5, 2026 -->
<main>
    <h1>Відповіді на запитання в завданні 3</h1>
    <ul>
        <% faq.forEach((item) => { %>
            <li>
                <h2><%= item.question %></h2>
                <p><%= item.answer %></p>
            </li>
        <% }); %>
    </ul>
</main>
</body>
</html>